<div class='setbox'>
  <label>Thumbnail</label>
  <img ng-show='setboxCtrl.curr.thumbnail' src='{{setboxCtrl.curr.thumbnail}}'><br />
  <input 
    class='form-control input-sm'
    type='url'
    ng-model='setboxCtrl.curr.thumbnail'
    placeholder='placeholder.jpg'>

  <hr />

  <label>Start Time</label>
  <div class='time-inputs'>
    <input
      class='form-control input-sm'
      ng-model='setboxCtrl.curr.hour'
      placeholder='hh'> : 
    <input
      class='form-control input-sm'
      ng-model='setboxCtrl.curr.minute'
      placeholder='mm'> :
    <input
      class='form-control input-sm'
      ng-model='setboxCtrl.curr.second'
      placeholder='ss'>
  </div>
  <button
    ng-click='setboxCtrl.set()'
    class='btn btn-default btn-block btn-sm'
    type='button'>
    SET
  </button>
</div>