<div id='show-page'>

<div class='page-header'>
  <h2>
    {{ showCtrl.skim.title }}
    <small>{{ showCtrl.getDuration() }}</small>
  </h2>

  <p>{{ showCtrl.skim.description }}</p>

  <p><a href='{{showCtrl.skim.url}}'>Watch Full Video</a></p>
</div>

<section ng-repeat='section in showCtrl.skim.sections'>
  <h3>
    {{section.title}}
    <small>todo: duration</small>
    <a href='#{{section._id}}' class='sectionAnchor'><small>
      <span id='{{section._id}}' class='glyphicon glyphicon-link'></span>
    </small></a>
  </h3>

  <div class='row'>
    <div class='col-xs-6'> <!-- left half; section -->
      <div class='embed-responsive embed-responsive-16by9'>
        <youtube-video 
          video-url='showCtrl.skim.url'
          player='section.player'
          class='embed-responsive-item'>
        </youtube-video>
      </div>
    </div>

    <div class='col-xs-6 right-side'> <!-- right half; subsections -->
      <section ng-repeat='subsection in section.subsections' class='row'>
        <div class='col-xs-11'> <!-- main -->
          <div class='row subsection'>
            <div class='col-sm-4 col-xs-12'>
              <img src='{{subsection.thumbnail}}'/>
            </div>
            <div class='col-sm-8 col-xs-12'>
              <p>{{subsection.description}}</p>
            </div>
          </div>
        </div>

        <div class='col-xs-1'> <!-- anchor link -->
          <a href='#{{section._id}}-{{$index}}'>
            <span class='glyphicon glyphicon-link' id='{{section._id}}-{{$index}}'></span>
          </a>
        </div>
      </section>
    </div>
  </div>
</section>

</div>