<hr />
<section class='section'>
  <p><small>Section {{sectionCtrl.number}}</small></p>

  <label>Title</label>
  <input class='form-control' ng-model='sectionCtrl.section.title' required><br>

  <div class='row'>
    <div class='col-sm-3'>
      <setbox curr='sectionCtrl.section' player='sectionCtrl.player'></setbox>
    </div>
    <div class='col-sm-9'>
      <subsection 
        ng-repeat='subsection in sectionCtrl.section.subsections track by $index'
        subsection='subsection'
        parent-number='sectionCtrl.number'
        number='$index+1'
        player='sectionCtrl.player'>
      </subsection>
      <button 
        class='btn btn-default'
        ng-click='sectionCtrl.addSubsection()' 
        type='button'>
        Add Subsection
      </button>
    </div>
  </div>
</section>