<div class='setbox'>
  <label>Thumbnail</label>&nbsp;<small>(optional)</small>
  <div class='embed-responsive embed-responsive-16by9' ng-show='setboxCtrl.curr.thumbnail'>
    <img 
      class='embed-responsive-item'
      ng-src='{{setboxCtrl.curr.thumbnail}}' />
  </div>
  <br />
  <input 
    class='form-control input-sm'
    type='url'
    ng-model='setboxCtrl.curr.thumbnail'
    placeholder='placeholder.jpg'>

  <hr />

  <label>Start Time</label>
  <div class='time-inputs visible-lg-block'>
    <input
      class='form-control input-sm'
      ng-model='setboxCtrl.curr.hour'
      type='number'
      placeholder='hh'
      required> : 
    <input
      class='form-control input-sm'
      ng-model='setboxCtrl.curr.minute'
      type='number'
      placeholder='mm'
      required
      min='0'
      max='59'> :
    <input
      class='form-control input-sm'
      ng-model='setboxCtrl.curr.second'
      type='number'
      placeholder='ss'
      required
      min='0'
      max='59'>
  </div>
  <div class='hidden-lg'>
    <span>{{setboxCtrl.curr.hour}}</span> : 
    <span>{{setboxCtrl.curr.minute}}</span> : 
    <span>{{setboxCtrl.curr.second}}</span>
  </div>
  <button 
    class='btn btn-default btn-sm'
    ng-click='setboxCtrl.back()'
    type='button'>
    <span class='glyphicon glyphicon-step-backward'></span>
  </button>
  <button
    ng-click='setboxCtrl.set()'
    class='btn btn-default btn-sm set-button'
    type='button'>
    <span class='visible-lg-inline'>SET TO POINT IN VIDEO</span>
    <span class='visible-xs-inline visible-sm-inline visible-md-inline'>SET</span>
  </button>
</div>