<div class='page-header'>
  <h1>{{formCtrl.state}} <span ng-show="formCtrl.state === 'Create'">a</span> Skim</h1>
</div>

<form name='form' class='form-horizontal' ng-submit='formCtrl.submit()' novalidate>
  <div class='form-header'>
    <div class='form-group'>
      <label class='col-xs-2 control-label'>Title</label>
      <div class='col-xs-10'>
        <input class='form-control' ng-model='formCtrl.skim.title' required>
      </div>
    </div>
    <div class='form-group'>
      <label class='col-xs-2 control-label'>Description</label>
      <div class='col-xs-10'>
        <textarea class='form-control' required ng-model='formCtrl.skim.description' rows='6'></textarea>
      </div>
    </div>
  </div>

  <div class='embed-responsive embed-responsive-16by9'>
    <youtube-video 
      video-url='formCtrl.skim.url'
      player='formCtrl.player'
      class='embed-responsive-item'>
    </youtube-video>
  </div>

  <br />
  <button
    class='btn btn-default btn-sm'
    type='button'
    ng-disabled='form.$invalid'>
    Save to Drafts
  </button>
  <button
    class='btn btn-default btn-sm'
    type='button'
    ng-disabled='form.$invalid'
    ng-click='formCtrl.preview()'>
    Preview <span class='glyphicon glyphicon-new-window'></span>
  </button>

  <supersection 
    ng-repeat='section in formCtrl.skim.sections'
    section='section'
    number='$index+1'
    player='formCtrl.player'
    remove-section='formCtrl.removeSection(section)'>
  </supersection>
  <hr />
  <button 
    class='btn btn-default btn-sm'
    ng-click='formCtrl.addSection()' 
    type='button'>
    Add Section <span class='glyphicon glyphicon-plus'></span>
  </button>
  <hr />
  <button
    class='btn btn-primary btn-block'
    type='submit'
    ng-disabled='form.$invalid'>
    {{formCtrl.state}}
  </button>
</form>
